pipeline/UploadSalesData.json
{
	"name": "UploadSalesData",
	"properties": {
		"activities": [
			{
				"name": "CheckCentralSourceCount",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "ExcelSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"wildcardFileName": "*.xlsx",
							"enablePartitionDiscovery": false
						}
					},
					"dataset": {
						"referenceName": "CentralSource",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "VerifyCentralSourceCount",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "CheckCentralSourceCount",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('CheckCentralSourceCount').output.count,42) \n",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "UploadCentralSource",
							"type": "ExecuteDataFlow",
							"dependsOn": [],
							"policy": {
								"timeout": "1.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataflow": {
									"referenceName": "CentralSourceData",
									"type": "DataFlowReference"
								},
								"compute": {
									"coreCount": 8,
									"computeType": "General"
								},
								"traceLevel": "Fine",
								"continuationSettings": {
									"customizedCheckpointKey": "5285c529-ab64-44da-ad1e-b84d8d8ec928"
								}
							}
						}
					]
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2022-06-10T10:24:06Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}