pipeline/UploadSalesData.json
{
	"name": "UploadSalesData",
	"properties": {
		"activities": [
			{
				"name": "LoadCentralSourceCount",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "ExcelSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"wildcardFileName": "*.xlsx",
							"enablePartitionDiscovery": false
						}
					},
					"dataset": {
						"referenceName": "CentralSource",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "VerifyCentralSourceCount",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "LoadCentralSourceCount",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('LoadCentralSourceCount').output.count,41) \n",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "UploadCentralSource",
							"type": "ExecuteDataFlow",
							"dependsOn": [],
							"policy": {
								"timeout": "1.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataflow": {
									"referenceName": "CentralDataMigrate",
									"type": "DataFlowReference"
								},
								"compute": {
									"coreCount": 8,
									"computeType": "General"
								},
								"traceLevel": "Fine"
							}
						}
					]
				}
			},
			{
				"name": "LoadWestSourceCount",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "ExcelSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"wildcardFileName": "*.xlsx",
							"enablePartitionDiscovery": false
						}
					},
					"dataset": {
						"referenceName": "WestSource",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "VerifyWestSourceCount",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "LoadWestSourceCount",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('LoadWestSourceCount').output.count,48) \n",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "WestSourceData",
							"type": "ExecuteDataFlow",
							"dependsOn": [],
							"policy": {
								"timeout": "1.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataflow": {
									"referenceName": "WestDataMigrate",
									"type": "DataFlowReference"
								},
								"compute": {
									"coreCount": 8,
									"computeType": "General"
								},
								"traceLevel": "Fine",
								"continuationSettings": {
									"customizedCheckpointKey": "e9c00a10-82a8-434b-b173-eca33cefea90"
								}
							}
						}
					]
				}
			},
			{
				"name": "LoadEastSourceCount",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"wildcardFileName": "*.csv",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "EastSource",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "VerifyEastSourceCount",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "LoadEastSourceCount",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('LoadEastSourceCount').output.count,41) \n",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "EastDataMigrate",
							"type": "ExecuteDataFlow",
							"dependsOn": [],
							"policy": {
								"timeout": "1.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataflow": {
									"referenceName": "EastDataMigrate",
									"type": "DataFlowReference"
								},
								"compute": {
									"coreCount": 8,
									"computeType": "General"
								},
								"traceLevel": "Fine"
							}
						}
					]
				}
			},
			{
				"name": "LoadSouthSourceCount",
				"type": "ExecuteDataFlow",
				"dependsOn": [],
				"policy": {
					"timeout": "1.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "LoadSouthSourceCount",
						"type": "DataFlowReference"
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "None",
					"cacheSinks": {
						"firstRowOnly": true
					},
					"continuationSettings": {
						"customizedCheckpointKey": "47503bed-c5d8-4447-b845-dee374b02c13"
					}
				}
			},
			{
				"name": "VerifySouthSourceCount",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "LoadSouthSourceCount",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('LoadSouthSourceCount').output.RowCount,25)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "SouthDataMigrate",
							"type": "ExecuteDataFlow",
							"dependsOn": [],
							"policy": {
								"timeout": "1.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataflow": {
									"referenceName": "SouthDataMigrate",
									"type": "DataFlowReference"
								},
								"compute": {
									"coreCount": 8,
									"computeType": "General"
								},
								"traceLevel": "Fine"
							}
						}
					]
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2022-06-10T10:24:06Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}